* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.diary-entry {
    border: solid 1px black;
    height: 170px;
    margin-bottom: 20px
}

.day-diary {
    border: gray solid 1px;
    overflow: auto;
}
.entry-game-img-thumbnail-list {
    padding: 1% 0;
    overflow: auto;
}

.game-img-thumbnail-container {
    overflow: hidden;
}

.game-img-thumbnail {
    width: 100%;
    height: auto;
}

.date-button-container {
    padding: 0 0 1%;
}

.entry-date {
    background-color: #EEEEEE;
    font-weight: bold;
    color: #000;
}
.index-list .entry-date {
    margin-bottom: 5%;
}

.view-full-entry-btn,
.edit-entry-btn {
    margin: auto;
    position: relative;
    display: block;
}

.show-entry-top {
    overflow: auto;
}
.show-entry-top .day-entry {
    height: 200px;
    border: black solid 1px;
    overflow: auto;
}

.game-entry-text {
    height: 200px;
    overflow: auto;
    border: black solid 1px;
}