* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    margin-bottom: 5%;
    padding: 1%;
}

.index-list {
    font-size: 20px
}
.index-diary-entry {
    border: solid 1px black;
    height: 170px;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.index-entry-main {
    margin: 0;
    width: 100%;
    height: 60%;
}
.entry-date {
    border-radius: 0 0 0 10px;
    padding: 5px 0;
    margin-bottom: 5px;
    font-size: 1em;
}
.index-diary-entry .entry-date {
    font-size: 12px;
}

.show-entry-container .entry-date {}

.day-diary {
    border: gray solid 1px;
    overflow: auto;
}

.index-diary-entry .day-diary {
    font-size: .5em;
    height: 100%;
    padding: 0 5px;
}

.view-full-entry-btn {
    font-size: .4em
}
.entry-game-img-thumbnail-list {
    padding: 1% 0;
    overflow: auto;
    height: 100%;
}

.game-img-thumbnail-container {
    overflow: hidden;
    padding: 0 2%;
    margin-bottom: 4px;
}

.game-img-thumbnail-container img {
    width: 100%;
    height: auto;
}

.date-button-container {
    padding: 0 0 1%;
}

.entry-date {
    background-color: #EEEEEE;
    font-weight: bold;
    color: #000;
}

.view-full-entry-btn,
.edit-entry-btn {
    margin: auto;
    position: relative;
    display: block;
}

.show-entry-top {
    margin-bottom: 20px;
}
.show-entry-top .day-entry {
    height: 200px;
    border: black solid 1px;
    overflow: auto;
}

.game-entry-text {
    height: 200px;
    overflow: auto;
    border: black solid 1px;
}